# vim
*~
*.sw*

# ignores generated site in _site folder. The rake publish task takes care of actually publishing the generated HTML.
_site/**
_site

# Installed dependencies
vendor/

# Ignores the SASS cache
.sass-cache/
.asset-cache/

# VS Code cache
.vscode/

# Bundle
.bundle
