---
layout: default
stylesheet: index.css
---
<section class="home-banner">
  <div class="container p-4 h-100">
    <div class="d-flex flex-column align-items-left justify-content-center h-100">
      <h1 class="display-1 fw-bold text-primary">University of Alberta Aerial Robotics Group</h1>
      <div>
        <p class="display-3 fw-bold">Innovate.</p>
        <p class="display-3 fw-bold">Collaborate.</p>
        <p class="display-3 fw-bold">Take Flight.</p>
      </div>
    </div>
  </div>
</section>

<section class="container my-4">
  <h1 class="text-primary display-2 fw-bold text-center">What We Do</h1>
  <hr style="background: grey; height: 3px;">

  <div class="d-grid grid-col-3">
    {% include icon_card.html
    top="Automated UAV"
    icon="laptop-code"
    bottom="Software and Systems" %}
    {% include image_card.html
    top="Airframe"
    image="assets/images/airplane.jpg"
    bottom="Research and Development" %}
    {% include icon_card.html
    top="International"
    icon="medal"
    bottom="Competitions" %}
  </div> <!-- End Card Row-->
</section>

<div class="spacer spacer-1"></div>

<section class="container-fluid bg-primary text-dark pb-4">
  <div class="container-md">
    <h2 class="display-2 fw-bold text-center">Our Competitions</h2>
    <hr style="background: grey; height: 3px;">
    <p>Throughout the year, UAARG designs and develops autonomous aircraft
      for student competitions, where we perform a full flight demonstration of our aircraft. We attend the
      following competitions each year:</p>
    <div class="row">
      <div class="col-sm">
        <a href="{% link Competitions.html%}#comp1">
          <p class="fw-bold">USC:<span>&nbsp Unmanned Systems Canada</span></p>
        </a>
        <a href="{% link Competitions.html%}#comp2">
          <p class="fw-bold">AUVSI:<span>&nbsp Association of Unmanned Vehicle Systems International</span></p>
        </a>
        <p style="font-size: 20px; color: black;">Click on a competition to learn more!</p>
      </div>
      <div class="col-sm">
        <img class="img-fluid rounded" src="{% link /assets/images/home/working-together.jpg %}">
      </div>
    </div>
  </div>
</section>

<div class="spacer spacer-2"></div>

<section class="container-fluid mb-4">
  <div class="container">
    <h1 class="fw-bold display-2 text-center">Come Join the Fun!</h1>
    <hr style="background: white; height: 3px;">
    <div class="row">
      <div class="col-sm">
        <h1 class="fw-bold rotatingText" width="55%">Your
          <span class="slidingVertical rotatingText text-primary" style="text-align: center;">
            <span>Club.</span>
            <span>Ideas.</span>
            <span>Voice.</span>
            <span>Thoughts.</span>
            <span>Designs.</span>
          </span>
        </h1>
        <div>
          <p>
            At UAARG, your ideas drive our innovation. After all what is a club without people?
          </p>
          <p>
            Expect your ideas to come to life as you put in meaningful work that has many
            applications in today's industry. From software, hardware, R & D and business, there are many places at
            UAARG where you can fit in!
          </p>
          <p>
            Currently, we are working on a hybrid plane design which combines the functionality of
            a quadcopter and a fixed wing plane.
          </p>
          <p>
            This allows for vertical takeoff and landing along with long flight times.
          </p>
        </div>
      </div>
      <div class="col-sm">
        <img src="{% link /assets/images/home/team.jpg %}" class="img-fluid rounded">
      </div>
    </div>
  </div>
  <a href="{% link Contact.html %}" class="btn btn-primary btn-lg d-block w-50 mx-auto">Join Now!</a>
</section>

<div class="spacer spacer-1"></div>

<section class="container-fluid bg-primary text-dark pb-4">
  <div class="container">
    <h1 class="fw-bold text-center display-2">Our Generous Sponsors</h1>
    <hr style="background: grey; height: 3px;">
    <p class="text-center">A special thank you goes out to all of our wonderful sponsors for making this club a reality!
    </p>
    <div class="d-grid grid-col-3">
      <a href="https://shell.ca">
        {% include image_card.html
        top="Shell"
        image="assets/images/shell_logo.jpg"
        %}
      </a>
      <a href="https://ualberta.ca/engineering/">
        {% include image_card.html
        top="Faculty of Engineering"
        image="assets/images/eng.jpg"
        %}
      </a>
    </div>
    <p class="text-center mt-4">Check out the link below if you're interested in sponsoring us!</p>
    <a href="{% link Contact.html %}" class="btn btn-primary btn-lg d-block w-50 mx-auto">Sponsor Us!</a>
  </div>
</section>

<script src="assets/js/myScript.js"></script>