---
layout: default
permalink: /members/
---

<section class="container my-4">
  <h1 class="display-2 fw-bold text-center text-primary">Executive Team</h1>
  <hr>
</section>

<!-- Presidents -->
<section class="container">
  <div class="row row-cols-md-2 row-cols-1">
    {% for member in site.members %}
      {% unless member.group == 'Co-President' %}
        {% continue %}
      {% endunless %}
      {% include member_card.html
        name=member.name
        team=member.team
      %}
    {% endfor %}
  </div>
</section>

<!-- VP's -->
<section class="container">
  <div class="row row-cols-md-3 row-cols-1">
    {% for member in site.members %}
      {% unless member.group == 'Admins' or member.group == "Admin" %}
        {% continue %}
      {% endunless %}
      {% include member_card.html
        name=member.name
        team=member.team
      %}
    {% endfor %}
  </div>
</section>

<!-- Team Leads -->
<section class="container">
  <div class="row row-cols-md-3 row-cols-1">
    {% for member in site.members %}
      {% unless member.group == 'Leads' %}
        {% continue %}
      {% endunless %}
      {% include member_card.html
        name=member.name
        team=member.team
      %}
    {% endfor %}
  </div>
</section>


<!-- Advisors -->
<section class="container my-4">
  <h2 class="fs-1 fw-bold text-primary text-center">Advisors</h2>
  <hr>
  <div class="col-auto appearanceLeft" style="border: solid #ffc107; text-align: center;">
    <p>Dr. Duncan Elliott<p>
    <p>ECE Advisor</p>
  </div>
</section>