<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-2">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-lg-10 ">
        <div class="s-m regular-s-m">
          <ul class="list-unstyled">
            <br>
            <li>
              <p><a href="Map.html"><i class="fa fa-home fa-1x"></i></a> University of Alberta ETLC 3rd
                Floor – Room
                E3-002</p>
            </li>
            <li>
              <p><a href="{% link Contact.html %}"><i class="fa fa-envelope fa-1x"></i></a> uaarginfo@gmail.com</p>
            </li>
            <li>
              <p><a href="Shipping.html"><i class="fas fa-shipping-fast"></i></a> 11th floor DICE,
                9211-116 Street NW
                Edmonton, Alberta, Canada T6G 1H9</p>
            </li>
          </ul>
        </div>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us!</h5>
        <div class="s-m">
          <a id="animatedFacebook" href="https://www.facebook.com/uaarg/"><i class="fab fa-facebook"></i></a>
          <a id="animatedYoutube" href="https://www.youtube.com/user/UAARG"><i class="fab fa-youtube"></i></a>
        </div>
        <br>
        <a href="{% link Contact.html %}"><img src="{% link assets/images/Join_Button.jpg %}" alt="Join Us"
            class="footerJoinButton"></a>
      </div>
    </div>
  </div>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="font-size: 20px;">
    <p style="color: white">© 2019 Copyright: University of Alberta Aerial Robotics Group</p>
  </div>
</footer>