<!-- Website Header -->
<div class="jumbotron text-center myheader">
  <div class="container-fluid">
    <!-- Creates a row with the content cetnered and adds in the coloring and style -->
    <div class="row justify-content-center myheader">
      <!-- The first 9 columns will have the content pushed to the far right -->
      <div class="col-md-9 float-right" style="padding-left: 23%;">
        <!-- This is the logo which is displayed on the yellow bar -->
        <a href="{% link index.html %}"><img src="{% link assets/images/uaarg.jpg %}" alt="UAARG Logo" class="Logo"></a>
        <!-- This is the word "Uaarg" which will be hidden away if the screen size is too small -->
        <b class="hideIfSmall">UAARG</b>
      </div>
      <!-- The last 3 columns will be used by the "Join Us" button -->
      <div class="col-md-3 float-right">
          <a href="JoinUs.html"><img src="{% link assets/images/Join_Button.jpg %}" alt="Join Us" class="joinButton hideIfSmall"></a>
      </div>
    </div>
  </div>
</div>
