<!-- Website Header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{% link assets/images/uaarg.jpg %}" alt="UAARG Logo" width="50" height="50">
            <b class="fs-2 align-middle">UAARG</b>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <!-- <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="/members">Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/competitions">Competitions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sponsors">Sponsors</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/social">Social&nbspMedia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary fw-bold" href="/contact">Contact&nbspUs</a>
                </li>
            </ul>
        </div>
    </div>
</nav>