<h2 class="text-center fw-bold">Platinum Sponsors</h2>
<div class="d-grid grid-col-3">
    <a href="https://ualberta.ca/engineering/">
        {% include image_card.html
        top="Faculty of Engineering"
        image="/assets/images/eng.jpg"
        %}
    </a>
</div>
<h2 class="text-center fw-bold">Bronze Sponsors</h2>
<div class="d-grid grid-col-3">
    <a href="https://www.simnet.aero/">
        {% include image_card.html
        top="Simnet"
        image="/assets/images/sponsors/simnet.PNG"
        %}
    </a>
    <a href="https://xingfutang.ca/">
        {% include image_card.html
        top="Xing Fu Tang"
        image="/assets/images/sponsors/xingfutang.png"
        %}
    </a>
</div>
<h2 class="text-center fw-bold mt-4">Previous Sponsors</h2>
<div class="d-grid grid-col-3">
    <a href="https://www.su.ualberta.ca/">
        {% include image_card.html
        top="University of Alberta Student's Union"
        image="/assets/images/sponsors/su.png"
        %}
    </a>
    <a href="https://shell.ca">
        {% include image_card.html
        top="Shell"
        image="/assets/images/shell_logo.jpg"
        %}
    </a>
    <a href="https://wiki.paparazziuav.org/wiki/Main_Page">
        {% include image_card.html
        top="Paparazzi UAV"
        image="/assets/images/sponsors/paparazzi.gif"
        %}
    </a>
</div>
