/** Homepage styles **/

.fs-title {
    font-size: 4.5rem;
}

.home-banner {
  background: url('../videos/website.gif'), rgba(var(--bs-dark-rgb), 0.9);
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - 60px);
  display: block;
}

.spacer {
    aspect-ratio: 960/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.spacer-1 {
    background-image: url("../images/separators/home1.svg");
}

.spacer-2 {
    background-image: url("../images/separators/home2.svg");
}