/** Global bars **/
:root {
  --bs-primary-rgb: 236, 195, 11;
  --bs-secondary-rgb: 117, 176, 156;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
}

/** Utilities **/
.d-grid {
  display: grid;
  gap: 1rem;
}

.grid-col-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (max-width: 768px) {
  .grid-col-3 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}


/* This is the style set for the entire body */
body {
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    color: white;
    background: #373737;
}

/* This is the second join button found on the footer */
.footerJoinButton {
  width: 160px;
}
.buttonEmail{
  display: inline-block;
  border-radius: 100px;
  background-color: #373737;
  border: none;
  color: #ffc107;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

/* The following 4 classes will allow for the animation to occur when hovering over */
.buttonEmail span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonEmail span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonEmail:hover span {
  padding-right: 25px;
}

.buttonEmail:hover span:after {
  opacity: 1;
  right: 0;
}

/* Used in the contact page to format the area where the user enters in information */
.contactForm {
  height: 100vh;
  margin-left: 20%;
  margin-right: 10%;
}

/* Background image used for the contact page */
.contactBack {
  background: url('../images/contact.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 50vh;
}

/* Background image used for the join us contact page */
.joinContact {
  background: url('../images/contact.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200vh;
  opacity: .8;
}

.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0) rotate(0deg);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(360deg);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

/* The following 3 classes are used to animate the buttons for the footer. */
.s-m a {
  display: inline-flex;
  width: 60px;
  height: 60px;
  background: #ffc107;
  color: #373737;
  margin: 0 6px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-decoration: none;
}

.regular-s-m a:hover {
  background: #373737;
  color: #ffc107;
  transition: 0.4s;
}

.regular-s-m a:hover > i {
  transform: scale(1.3) rotate(380deg);
  transition: .2s;
}

/* The following 2 classes are used to animate the facebook button for the footer */
#animatedFacebook:hover {
  background: #373737;
  color: #3366ff;
  transition: 0.4s;
}

#animatedFacebook:hover > i {
  transform: scale(1.3) rotate(380deg);
  transition: .2s;
}

/* The following 2 classes are used to animate the facebook button for the footer */
#animatedYoutube:hover {
  background: #373737;
  color: #cc0000;
  transition: 0.4s;
}

#animatedYoutube:hover > i {
  transform: scale(1.3) rotate(380deg);
  transition: .2s;
}

.contact{
  background: #ffc107;
  color: black;
  border: 2px solid black;
  text-align: center;
  align-self: center;
  padding: 20px;
}

/* Sets the font size for certain headers on the home page*/
.homeTitle {
  font-size: 80px;
}

/* This sets the style for the rotating text part */
.rotatingText {
  color: white;
  font-size: 50px;
}

/* This class is needed for the contact pages due to the overflow when changing to smaller screen sizes */
.contactFont {
  text-align: center;
  padding-top: 20px;
  font-size: 60px
}

/* Vertical Sliding was taken from https://codepen.io/amritleone/pen/qERPmW */
.slidingVertical{
	display: inline;
	text-indent: 8px;
}

.slidingVertical span{
	animation: topToBottom 12.5s linear infinite 0s;
	-ms-animation: topToBottom 12.5s linear infinite 0s;
	-webkit-animation: topToBottom 12.5s linear infinite 0s;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}

.slidingVertical span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
