---
layout: titled
title: Blog
---
<section class="container">
  <div class="d-flex flex-column gap-2">
    {% for post in paginator.posts %}
    {% capture title %}
    <a class="text-primary" href="{{ post.url }}">{{ post.title }}</a>
    {% endcapture %}
    {% capture content %}
    <p class="fs-5" style="color: gray">
      {{ post.date | date: "%B %d, %Y" }} -
      {{ post.author.name }}
    </p>
    {{ post.excerpt }}
    {% endcapture %}
    {% include large_card.html
    title=title
    content=content
    %}
    {% endfor %}
  </div>
</section>

<section class="container mt-4">
  <div class="d-flex gap-2 justify-content-center">
    {% if paginator.page != 1 %}
      <a href="/blog/">First</a>
    {% endif %}
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">
        Previous
      </a>
    {% endif %}
    <span class="page_number ">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% endif %}
    {% if paginator.page != paginator.total_pages %}
      <a href="/blog/{{paginator.total_pages}}">Last</a>
    {% endif %}
  </div>
</section>