/* CONFIGURATION */

/* Bodytext font */
$font: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontheadings: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base: $font;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
$accent: #2077b2;


/* IMPORT CSS FILES */
@import "bootstrap/bootstrap";
@import "base";
@import "article";
@import "icons";
@import "syntax";
@import "responsive";