---
layout: default
---

<style>
    /** Make images responsive automatically **/
    .post-content img {
        display: block;
        width: 80%;
        height: auto;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-radius: 0.325rem;
    }

    .post-content h1 {
        color: rgb(var(--bs-primary-rgb));
        text-decoration: underline;
    }

    .post-content h2 {
        color: rgb(var(--bs-primary-rgb));
    }
</style>

<main class="container pt-4">
    <h1 class="text-primary fw-bold">
        {{ page.title }}
    </h1>
    <h2 class="" style="color: gray">
        {{ page.date | date: "%B %d, %Y"}} - {{ page.author.name }}
    </h2>
    <hr>

    <div class="post-content">
        {{ content }}
    </div>
</main>