---
layout: default
---

<style>
    /** Make images responsive automatically **/
    main img {
        display: block;
        width: 80%;
        height: auto;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-radius: 0.325rem;
    }
</style>

<main class="container pt-4">
    <h1 class="text-primary fw-bold">
        {{ page.title }}
    </h1>
    <h2 class="" style="color: gray">
        {{ page.date | date: "%B %d, %Y"}} - {{ page.author.name }}
    </h2>
    <hr>

    <p>
        {{ content }}
    </p>
</main>